.side-menu{
    padding-top: 100px;
}
.edu{
    background: yellow;
}
.edu-box{
    border-bottom: 1px solid #999999;
}

.institute-info > p{
    color: #999999;
    
}
.edu-info{
    padding-left: 150px;
    margin-bottom: 40px;
}
.education-icon{
    font-size: 30px;
    border-radius: 50%;
}

.skills-info{
    padding-left: 150px;
    margin-top: 150px;
}

a{
    transition: .3s all ease;
}

a:hover{
    color:blue;
}

/* Projecs */
.project{
    position:relative;
    width:100%;
}
.image {
    display: block;
    width: 100%;
    height: auto;
  }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #2e51dd;
  }
.project:hover .overlay{
    opacity: 0.8;
}
  .text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


/* 
https://www.kindacode.com/article/react-router-how-to-highlight-active-link/
*/