#footer{
    background: #000;
    /* height: 400px;
    width: auto; */
}

.links li{
    margin-bottom: 10px;
}
.links li a{
    text-decoration: none;
    color: #5AC4B9;
}

.links li a:hover{
    color: rgb(61, 61, 240);
}

.phone, .mail{
    color: #5AC4B9;
}

.social_icon{
    padding: 5px;
}
.social_icon:hover{
    color: rgb(58, 58, 240);
}

