.side-menu{
    padding-top: 100px;
}
.edu{
    background: yellow;
}
.edu-box{
    border-bottom: 1px solid #999999;
}

.institute-info > p{
    color: #999999;
    
}
.edu-info{
    padding-left: 150px;
    margin-bottom: 40px;
}
.education-icon{
    font-size: 30px;
    border-radius: 50%;
}

.skills-info{
    padding-left: 150px;
}


