.side-menu{
    padding-top: 100px;
}
.edu{
    background: yellow;
}
.edu-box{
    border-bottom: 1px solid #999999;
}

.institute-info > p{
    color: #999999;
    
}
.edu-info{
    padding-left: 150px;
    margin-bottom: 40px;
}
.education-icon{
    font-size: 30px;
    border-radius: 50%;
}

.skills-info{
    padding-left: 150px;
}

a{
    transition: .3s all ease;
}
/* a:after{
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
    background:blue;
} */
a:hover{
    color:blue;
}

/* 
https://www.kindacode.com/article/react-router-how-to-highlight-active-link/
*/